In [2]:
import pandas as pd
Dates={
    "Date":["2022-10-1","2021-02-12","2021-03-11"]
}

In [3]:
df=pd.DataFrame(Dates)

In [4]:
df["Date"]

0     2022-10-1
1    2021-02-12
2    2021-03-11
Name: Date, dtype: object

In [12]:
 # formatting the date
df["Date"]=pd.to_datetime(df["Date"],format='%y-%m-%d')

In [13]:
df["Date"]

0   2022-10-01
1   2021-02-12
2   2021-03-11
Name: Date, dtype: datetime64[ns]

In [17]:
 # to show the day name
df.loc[1,"Date"].day_name()

'Friday'

In [18]:
 # to show tha all days
df["Date"].dt.day_name()

0    Saturday
1      Friday
2    Thursday
Name: Date, dtype: object

In [19]:
 # adding a column with days
df["DayOfWeek"]=df["Date"].dt.day_name()

In [20]:
df

        Date DayOfWeek
0 2022-10-01  Saturday
1 2021-02-12    Friday
2 2021-03-11  Thursday

In [21]:
 # finding the min date
df["Date"].min()

Timestamp('2021-02-12 00:00:00')

In [22]:
  # finding the max date
df["Date"].max()

Timestamp('2022-10-01 00:00:00')

In [23]:
 # the difference between the man, min
df["Date"].max()-df["Date"].min()

Timedelta('596 days 00:00:00')

In [29]:
filt=(df["Date"]>=pd.to_datetime("2021-03-11"))
df.loc[filt]

        Date DayOfWeek
0 2022-10-01  Saturday
2 2021-03-11  Thursday

Empty DataFrame
Columns: [Date, DayOfWeek]
Index: []