In [2]:
import pandas as pd
people={
    "first":['Eman','Nada','Maged','Hala'],
    "last":['sami','yasser','yasser','mourad'],
    "email":['esamy369@gmail','nada3342@gmail','maged232@gmail','hal232@gmai']
}

In [3]:
df=pd.DataFrame(people)

In [4]:
 #filteration the data
filt=df["last"]=="yasser"
print(filt)

0    False
1     True
2     True
3    False
Name: last, dtype: bool

In [5]:
 #dataframe after filteration 
df[filt]

   first    last           email
1   Nada  yasser  nada3342@gmail
2  Maged  yasser  maged232@gmail

In [6]:
 # using loc with filtered data
print(df.loc[filt,"last"])
print('\n')

1    yasser
2    yasser
Name: last, dtype: object

####### using & (and)

In [7]:
filt=(df["first"]=="Nada") & (df["last"]=="yasser")
print(filt)

0    False
1     True
2    False
3    False
dtype: bool

In [8]:
df[filt]

  first    last           email
1  Nada  yasser  nada3342@gmail

In [9]:
df.loc[filt,"email"]

1    nada3342@gmail
Name: email, dtype: object

In [10]:
 # ~ inverse the result (get the rest values away from filt(filtered data))
df[~filt]

   first    last           email
0   Eman    sami  esamy369@gmail
2  Maged  yasser  maged232@gmail
3   Hala  mourad     hal232@gmai

In [11]:
df.loc[~filt,"last"]

0      sami
2    yasser
3    mourad
Name: last, dtype: object