In [7]:
import pandas as pd
people={
    "first":['Eman','Nada','Hala'],
    "last":['sami','yasser','mourad'],
    "email":['esamy369@gmail','nada3342@gmail','hal232@gmai']
}

In [2]:
 #access email column
people["email"]

['esamy369@gmail', 'nada3342@gmail', 'hal232@gmai']

In [10]:
 #using pandas dataframe
df=pd.DataFrame(people) 
 #show df
print(df)
print('\n')
 #access email column
print(df["email"])
 #access email column using dot
 #df.email
print('\n')
 #the difference in datatype between email (in dic) and email (in dataframe)
type("email") 
type(df["email"])

  first    last           email
0  Eman    sami  esamy369@gmail
1  Nada  yasser  nada3342@gmail
2  Hala  mourad     hal232@gmai


0    esamy369@gmail
1    nada3342@gmail
2       hal232@gmai
Name: email, dtype: object

pandas.core.series.Series

In [11]:
#show the whole index
print(df.index)
print('\n')
 #show the whole values
print(df.values)
print('\n')
 #show the whole columns
print(df.columns)

RangeIndex(start=0, stop=3, step=1)


[['Eman' 'sami' 'esamy369@gmail']
 ['Nada' 'yasser' 'nada3342@gmail']
 ['Hala' 'mourad' 'hal232@gmai']]


Index(['first', 'last', 'email'], dtype='object')

In [13]:
#using iloc(integer position_based)
 #access the first row only using index
print(df.iloc[0])
print('\n')
print(df.iloc[0:1])
print('\n')
 #access the first and second rows using index
print(df.iloc[[0,1]])
print('\n')
print(df.iloc[0:2])
print('\n')

first              Eman
last               sami
email    esamy369@gmail
Name: 0, dtype: object


  first  last           email
0  Eman  sami  esamy369@gmail


  first    last           email
0  Eman    sami  esamy369@gmail
1  Nada  yasser  nada3342@gmail


  first    last           email
0  Eman    sami  esamy369@gmail
1  Nada  yasser  nada3342@gmail

In [14]:
 #access index 2 in columns 
print(df.iloc[[0,1],2])
 #output:getting 2 values that is opposite to the 2 rows that sclicing
print('\n')
 #access the first, second rows and columns using index
print(df.iloc[0:2,0:2])

0    esamy369@gmail
1    nada3342@gmail
Name: email, dtype: object


  first    last
0  Eman    sami
1  Nada  yasser

In [15]:
 #using loc
print(df.loc[0:1,"email"])
print('\n')
print(df.loc[[0,1],"first":"last"])

0    esamy369@gmail
1    nada3342@gmail
Name: email, dtype: object


  first    last
0  Eman    sami
1  Nada  yasser