In [2]:
import pandas as pd
people={
    "first":['Eman','Nada','Hala'],
    "last":['sami','yasser','mourad'],
    "email":['esamy369@gmail','nada3342@gmail','hal232@gmai']
}

In [5]:
df=pd.DataFrame(people)

In [6]:
 #changing the index to be one of the columns(email column)
df.set_index('email',inplace=True)
df

               first    last
email
esamy369@gmail  Eman    sami
nada3342@gmail  Nada  yasser
hal232@gmai     Hala  mourad

In [9]:
 #now using the new index of column email
df.loc['esamy369@gmail']

first    Eman
last     sami
Name: esamy369@gmail, dtype: object

In [10]:
 #getting the default index back
df.reset_index(inplace=True)
df

            email first    last
0  esamy369@gmail  Eman    sami
1  nada3342@gmail  Nada  yasser
2     hal232@gmai  Hala  mourad